* {
    margin: 0;
    padding: 0;
}

caption {
    caption-side: bottom;
}

table {
    margin: 0 auto;
    border: thin solid rgb(153, 153, 153);
    border-collapse: collapse;
}

th, td {
    width: 70px;
    border-right: 1px solid rgb(133, 133, 133);
    border-bottom: 1px solid rgb(133, 133, 133);
    padding: 7px 15px;
}

td {
    text-align: center;
}

thead {
    background-color: black;
    color: white;

}

.col-head {
    background-color: rgb(75, 74, 74);
}

.title {
    border: none;
}

tbody tr:nth-child(even) {
    background-color: rgb(228, 228, 228);
}