@media (min-width: 650px) {
    #menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navigation {
        position: static;
        width: 100%;
        grid-column: 2/3;
        flex-direction: row;
        justify-content: space-around;
        background-color: transparent;
    }

    .navigation a {
        display: block;
        width: 100%
    }

    .images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    figure {
        padding: 0;
        margin: 0;
    }

    figcaption {
        margin-bottom: 30px;
    }

}