body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    border: 3px solid rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    background-color: rgb(223, 223, 235);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

main section {
    padding: 1rem;
    background-color: white;
}